body {
  background-color: #fff;
}

text {
  fill: black;
  font: 16px sans-serif;
  cursor: default;
}

.dot-label text {
  font-size: 12px;
}

/* Styling for translations */
.spanishDiv {
  display: none; /* Set display to none at the beginning */
  padding: 20px;
}

#dos-santos {
  width: 100%;
  /* height: 10%; */
}

.englishDiv {
  padding: 20px;
}
